@import "mocha.css";

* {
    color: @lavender;
    border: 0;
    padding: 0 0;
    font-family: "CaskaydiaCove Nerd Font Mono";
    font-size: 14px;
    transition: all 0.5s ease;
}

window#waybar {
    background-color: shade(#1e1e2e, 0.95);
}

#workspaces * {
    color: whitesmoke;
}

#workspaces button {
    margin: 0px 2px;
}
#workspaces button *{
  color: #424257;
}

#workspaces {
    opacity: 1;
    margin: 0px 0px 0px 8px;
}

#workspaces button.active *{
  color: @mauve;
}
#workspaces button.visible *{
  /* not working */
  color: @mauve;
}

#clock,
#custom-swap,
#custom-background,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power{
    padding: 0px 8px;
    border-style: solid;
    background-color: shade(@base, 1.1);
    opacity: 1;
    margin: 0px 0;
}

/* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */

#clock {
    /* background-color:#a3be8c; */
    color: @sky;
    border-radius: 10px;
    margin: 8px 10px;
}

#backlight {
    color: @yellow;
    /* border-bottom: 2px solid @yellow; */
    border-radius: 10px 0 0 10px;
}

#battery {
    color: #d8dee9;
    /* border-bottom: 2px solid #d8dee9; */
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

#battery.charging {
    color: #81a1c1;
    /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery.critical:not(.charging) {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#memory {
    color: @sky;
}

#network.disabled {
    color: #bf616a;
}

#network {
    color: @green;
    border-radius: 10px;
    margin-right: 5px;
}

#network.disconnected {
    color: #bf616a;
}
#tray {
    margin: 8px 10px;
    border-radius: 10px;
}
#custom-power {
    color: @base;
    background-color: @red;
    margin-left: 5px;
    margin-right: 15px;
}
